.maincategories{
  background: #fff;
  padding-top: 56px;
  padding-bottom: 61px;



  .justify-con{
    justify-content: space-around;
  }
  .mar-r{
    margin-right: 38px;
  }

  .category{
    display: block;
    .category-list{
      margin-top: 39px;
      display: flex;
      flex-wrap: wrap;
      overflow-wrap: anywhere;
      .category-item{
        //margin-right: 38px;
        //margin-bottom: 2rem;

        .item-link{
          cursor: pointer;
          color: #002F34;
          font-size: 16px;
          font-weight: 500;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          line-height: 1.25;
          text-align: center;
          &:hover {
            span {
              background-color: #002F34;
              color: #ffffff;
            }
          }

          .category-img{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            //padding: 4px;
            margin-bottom: 1rem;
          }
          span{
            max-width: 100%;
          }
        }

      }


    }

    .category1{
      position: relative;
      .dropdown-up{
        position: absolute;
        top: -20px;
        left: 3%;
      }
      &::before{
        content: '';
        display: block;
        border: 12px solid transparent;
        border-bottom-color: #ffffff;
        position: absolute;
        top: -24px;
        left: 3%;
        //transform: translateX(-50%);
      }
    }
    .category2{
      position: relative;
      .dropdown-up{
        position: absolute;
        top: -20px;
        left: 14%;
      }
      &::before{
        content: '';
        display: block;
        border: 12px solid transparent;
        border-bottom-color: #ffffff;
        position: absolute;
        top: -24px;
        left: 14%;
      }
    }
    .category3{
      position: relative;
      .dropdown-up{
        position: absolute;
        top: -20px;
        left: 26%;
      }
      &::before{
        content: '';
        display: block;
        border: 12px solid transparent;
        border-bottom-color: #ffffff;
        position: absolute;
        top: -24px;
        left: 26%;
      }
    }
    .category4{
      position: relative;
      .dropdown-up{
        position: absolute;
        top: -20px;
        left: 38%;
      }
      &::before{
        content: '';
        display: block;
        border: 12px solid transparent;
        border-bottom-color: #ffffff;
        position: absolute;
        top: -24px;
        left: 38%;
      }
    }
    .category5{
      position: relative;
      .dropdown-up{
        position: absolute;
        top: -20px;
        left: 48%;
      }
      &::before{
        content: '';
        display: block;
        border: 12px solid transparent;
        border-bottom-color: #ffffff;
        position: absolute;
        top: -24px;
        left: 48%;
      }
    }
    .category6{
      position: relative;
      .dropdown-up{
        position: absolute;
        top: -20px;
        left: 59%;
      }
      &::before{
        content: '';
        display: block;
        border: 12px solid transparent;
        border-bottom-color: #ffffff;
        position: absolute;
        top: -24px;
        left: 59%;
      }
    }
    .category7{
      position: relative;
      .dropdown-up{
        position: absolute;
        top: -20px;
        left: 70%;
      }
      &::before{
        content: '';
        display: block;
        border: 12px solid transparent;
        border-bottom-color: #ffffff;
        position: absolute;
        top: -24px;
        left: 70%;
      }
    }
    .category8{
      position: relative;
      .dropdown-up{
        position: absolute;
        top: -20px;
        left: 81%;
      }
      &::before{
        content: '';
        display: block;
        border: 12px solid transparent;
        border-bottom-color: #ffffff;
        position: absolute;
        top: -24px;
        left: 81%;
      }
    }
    .category9{
      position: relative;
      .dropdown-up{
        position: absolute;
        top: -20px;
        left: 92%;
      }
      &::before{
        content: '';
        display: block;
        border: 12px solid transparent;
        border-bottom-color: #ffffff;
        position: absolute;
        top: -24px;
        left: 92%;
      }
    }
    .category10{
      position: relative;
      .dropdown-up{
        position: absolute;
        top: -20px;
        left: 3%;
      }
      &::before{
        content: '';
        display: block;
        border: 12px solid transparent;
        border-bottom-color: #ffffff;
        position: absolute;
        top: -24px;
        left: 3%;
        //transform: translateX(-50%);
      }
    }
    .category11{
      position: relative;
      .dropdown-up{
        position: absolute;
        top: -20px;
        left: 16%;
      }
      &::before{
        content: '';
        display: block;
        border: 12px solid transparent;
        border-bottom-color: #ffffff;
        position: absolute;
        top: -24px;
        left: 16%;
      }
    }
    .category12{
      position: relative;
      .dropdown-up{
        position: absolute;
        top: -20px;
        left: 29%;
      }
      &::before{
        content: '';
        display: block;
        border: 12px solid transparent;
        border-bottom-color: #ffffff;
        position: absolute;
        top: -24px;
        left: 29%;
      }
    }



    .category-dropdown-menu{
      background: #fff;
      border: 1px solid #efefef;
      padding: 23px 26px;
      margin-top: 30px;
      -webkit-transition: all 0.4s linear;
      -moz-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      transition: all 0.4s linear;

      .icon{
        background-color: #e8e1e1;
      }

      .full {
        width: 100% !important;
      }
      .category-dropdown-title{
        border-bottom: 1px solid #e8e8e8;
        padding: 0 0 18px;
        //margin-bottom: 20px;
        font-size: 15px;
        line-height: 20px;
        color: #ababab;
        margin-top: -3px;

        a{
          color: #002F34;
          background: no-repeat 0 0;
          margin-right: 8px;
          .icon{
            background-color: #002F34;
          }
        }
      }
      .category-dropdown-body{
        display: table;
        .category-dropdown-item{
          display: table-cell;
          vertical-align: top;
          padding: 10px 0;
          list-style: none;
          font-size: 15px;
          line-height: 20px;
          margin-top: -20px;
          li{
            width: 278px;
            margin-top: 20px;
            padding-right: 24px;
            .icon{
              background-color: #002F34;
            }
            a{
              color: #002F34;
              &:hover{
                color: #ffffff;
                background-color: #2C3E50;
              }
            }
          }
        }
        .part25{
          width: 25%;
        }
      }
    }


  }
}
.wrapper{
  .header{
    width: 100%;
    h3{
      text-align: center;
      font-size: 32px;
      font-weight: 500;
      line-height: 24px;
    }
  }
}


.bg-category1{
  background-color: #FFCE32;
}
.bg-category2{
  background-color: #3A77FF;
}
.bg-category3{
  background-color: #23E5DB;
}
.bg-category4{
  background-color: #FF5636;
}
.bg-category5{
  background-color: #FFF6D9;
}
.bg-category6{
  background-color: #CEDDFF;
}
.bg-category7{
  background-color: #C8F8F6;
}
.bg-category8{
  background-color: #FFD6C9;
}
.bg-category9{
  background-color: #FFCE32;
}
.bg-category10{
  background-color: #CEDDFF;
}
.bg-category11{
  background-color: #C8F8F6;
}
.bg-category12{
  background-color: #FFD6C9;
}

.body-container{
  background-color: #F2F4F5;
  padding-top: 3rem;
  .wrapper{
    background-color: #F2F4F5;
    padding-right: 0;
    padding-left: 0;
    .gallery{
      display: block;
      list-style: none;
      width: 100%;
      .gallery-item{
        min-width: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        padding: 15px;
        position: relative;
        box-sizing: border-box;
        height: 378px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin-left: 15px;
        margin-top: 15px;
        width: calc(25% - 15px);

        .gallery-image{
          height: 218px;
          line-height: 218px;
          width: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            height: 100%;
            object-fit: cover;
            width: 100%;
            max-width: none;
            max-height: none;
          }
        }

        .gallery-body{
          padding: 15px 0;
          margin-bottom: auto;
          font-size: 16px;
          h4{
            a{
              font-size: 16px;
              color: #002F34;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
              overflow: hidden;
              &:hover{
                color: #ffffff;
                background-color: #002F34;
              }
            }

            cursor: pointer;
          }
        }

        .gallery-footer{
          .footer-title{
            font-size: 12px;
          }
          .footer-content{
            .price{
              color: #002F34;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .wrapper{
    .more-link{
      width: 100%;
      text-align: center;
      margin-top: 35px;
      margin-bottom: 35px;
      a{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        line-height: 1.25;
        border: none;
        padding: 0 40px;
        height: 48px;
        color: #002f34;
        cursor: pointer;
        -webkit-box-shadow: inset 0 0 0 2px #002f34;
        -moz-box-shadow: inset 0 0 0 2px #002f34;
        -o-box-shadow: inset 0 0 0 2px #002f34;
        box-shadow: inset 0 0 0 2px #002f34;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:hover{
          -webkit-box-shadow: inset 0 0 0 6px #002f34;
          -moz-box-shadow: inset 0 0 0 6px #002f34;
          -o-box-shadow: inset 0 0 0 6px #002f34;
          box-shadow: inset 0 0 0 6px #002f34;
        }
      }
    }
  }
}

footer{
  min-height: 200px;
}



.float{
  float: left;
}